.main {
  flex: 1;
  margin: 2rem 1rem;
}

.post-section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

aside {
  background-color: #bfcef8;
  padding: 2rem;
}
@media (min-width: 768px) {
  .home {
    display: flex;
    /* gap: 2rem; */
  }
  aside {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .post-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .post-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
