*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  /* outline: 1px solid yellow; */
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #dae1e7;
  color: rgb(27, 30, 34);
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

button {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  text-transform: none;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

footer {
  background-color: #273c75;
  color: #fff;
  padding: 20px;
}
.footer {
  margin: auto;
  text-align: center;
}

/* buttons style */

.submit-btn {
  margin-top: 5px;
  background-color: #273c75;
  padding: 7px 12px;
  font-size: 17px;
  border-radius: 10px;
  color: white;
}
.submit-btn:hover {
  background: transparent;
  outline: 3px solid #273c75;
  color: inherit;
}
.delete-btn {
  margin-top: 5px;
  background: red;
  padding: 7px 12px;
  font-size: 17px;
  border-radius: 10px;
  color: white;
}
.delete-btn:hover {
  background: transparent;
  outline: 3px solid red;
  color: inherit;
}

.device-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.error-page {
  min-height: calc(100vh - 167px - 58px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-page a:hover {
  color: blue;

  text-decoration: underline;
}
.error-content h1 {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .error-page {
    min-height: calc(100vh - 94px - 58px);
  }
}
